<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}" >
</head>
<body >
<nav th:replace="~{layout::navigation}"></nav>
<main>
    <form method="get"  th:attr="action=@{/author/index}">
            <fieldset>
                <legend>Search by:</legend>
                <div>
                    <span>Author Name :</span>
                    <input type="text" name="name" placeholder="name" th:attr="value=${name}">
                </div>
                <div class="divSearch">
                <button class=" btn search-button" type="submit">Search</button>
                </div>
            </fieldset>
     </form>


    <div class="filter">
        <a  class="btn add-button" th:href="@{/author/insert}"> Add Author </a>
    </div>
    <div class="divTable">
        <table >
            <thead>
            <tr>
                <th></th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Status</th>
                <th>education</th>
                <th>Created By</th>
                <th>Last Modified By</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${listAuthor}" th:object="${data}">
                <td class="action">
                    <div class="button-wrapper">
                        <a class="btn detail-btn" th:href="@{/author/detail(id=*{id})}">Books</a>
                        <a class="btn back-warning" th:href="@{/author/update(id=*{id})}">Edit</a>
                        <a class="btn delete-btn" th:href="@{/author/delete(id=*{id})}">Delete</a>
                    </div>
                </td>
                <td th:text="*{fullname}"></td>
                <td th:text="*{age}"></td>
                <td th:text="*{deceasedDateStr}"></td>
                <td th:text="*{education}"></td>
                <td th:text="*{createdBy}"></td>
                <td th:text="*{modifiedBy}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="9">
                    <div class="pagination">
                        <div>
                            <a th:if="${totalPage !=0}"
                               th:each="loop:${#numbers.sequence(1, totalPage)}"
                               th:href="@{/author/index(page=${loop},name=${name})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>


</main>

</body>
</html>