<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}" >
</head>
<body>
<nav th:replace="~{layout::navigation}"></nav>
<main>
    <form method="post" th:attr="action=@{/author/insert}" enctype="multipart/form-data" th:object="${dto}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <table class="spacerTable">
        <tbody>

        <tr>
        <input type="hidden" th:field="*{id}">
            <td><label>Title :</label></td>
            <td><select class="form-control form-control-lg" th:field="*{title}">
                <option th:value="null" th:hidden="hidden">- select title -</option>
                <option th:each="data : ${dropdownTitle}" th:value="${data.val}" th:text="${data.text}"/>
            </select>
                <div class="field-validation-error " th:errors="*{title}"> </div>
            </td>
        </tr>

        <tr>
            <td><label>First Name :</label></td>
            <td><input class="form-control form-control-lg" type="text" th:field="*{firstName}">
                <div class="field-validation-error " th:errors="*{firstName}"> </div>
            </td>
        </tr>
            <tr>
                <td><label>LastName :</label></td>
                <td><input class="form-control form-control-lg" type="text" th:field="*{lastName}">
                    <div class="field-validation-error" th:errors="*{lastName}"> </div>
                </td>
            </tr>
            <tr>
                <td><label>Birth Date :</label></td>
                <td><input class="form-control form-control-lg" type="date" th:field="*{birthDate}">
                    <div class="field-validation-error" th:errors="*{birthDate}"> </div>
                </td>
            </tr>
            <tr>
                <td><label>Deceased Date :</label></td>
                <td><input class="form-control form-control-lg" type="date" th:field="*{deceasedDate}">
                    <div class="field-validation-error" th:errors="*{deceasedDate}"> </div>
                </td>
            </tr>
            <tr>
                <td><label>Education :</label></td>
                <td><input class="form-control form-control-lg" type="text" th:field="*{education}">
                    <div class="field-validation-error" th:errors="*{education}"> </div>
                </td>
            </tr>
            <tr>
                <td><label>Summary :</label></td>
                <td><textarea class="form-control form-control-lg" th:field="*{summary}"></textarea>
                    <div class="field-validation-error" th:errors="*{summary}"> </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <button class="btn detail-btn" type="submit"> Submit</button>
            <a class="btn back-warning" th:href="@{/author/index}">Close</a>
        </div>

    </form>

</main>

</body>
</html>