<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}" >
</head>
<body>
<nav th:replace="~{layout::navigation}"></nav>
<main>
  <form method="post" th:attr="action=@{/author/update}" enctype="multipart/form-data" th:object="${dto}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <table class="spacerTable">
      <tbody>
      <tr>
        <td><label>Id  </label></td>
        <td><input readonly type="text" th:field="*{id}">
          <div class="field-validation-error" th:errors="*{id}"> </div>
        </td>
      </tr>
      <tr>
        <td><label>Title  </label></td>
        <td><select th:field="*{title}">
          <option th:value="null" th:hidden="hidden">- select title -</option>
          <option th:each="data : ${dropdownTitle}" th:value="${data.val}" th:text="${data.text}"/>
        </select>
        </td>
      </tr>
      <tr>
        <td><label>First Name </label></td>
        <td><input type="text" th:field="*{firstName}">
          <div class="field-validation-error" th:errors="*{firstName}"> </div>
        </td>
      </tr>
      <tr>
        <td><label>Last Name </label></td>
        <td><input type="text" th:field="*{lastName}">
          <div class="field-validation-error" th:errors="*{lastName}"> </div>
        </td>
      </tr>
      <tr>
        <td><label>Birth Date </label></td>
        <td><input type="date" th:field="*{birthDate}">
          <div class="field-validation-error" th:errors="*{firstName}"> </div>
        </td>
      </tr>
      <tr>
        <td><label>Deceased Date </label></td>
        <td><input type="date" th:field="*{deceasedDate}">
          <div class="field-validation-error" th:errors="*{deceasedDate}"> </div>
        </td>
      </tr>
      <tr>
        <td><label>Education </label></td>
        <td><input type="text" th:field="*{education}">
          <div class="field-validation-error" th:errors="*{education}"> </div>
        </td>
      </tr>
      <tr>
        <td><label>Summary </label></td>
        <td><textarea th:field="*{summary}"></textarea>
          <div class="field-validation-error" th:errors="*{summary}"> </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <button class="btn detail-btn" type="submit"> Update</button>
      <a class="btn back-warning" th:href="@{/author/index}">Close</a>
    </div>

  </form>

</main>

</body>
</html>