<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::headLayout}"><!-- layout itu dari layout.html,
                            headLayout dari nama fragment yang ada di layout.html  -->
<body class="main-body">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header('Update Books')}"></header>
<main>
    <div>
        <form method="post" class="upsert-form" th:attr="action=@{/book/update}" enctype="multipart/form-data" th:object="${dto}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <!--        <div th:if="${param.error != null}" th:text="${param.error}"></div>-->
            <table>
                <tbody>
                <tr>
                    <td><label>Code :</label></td>
                    <td><input readonly type="text" th:field="*{code}">
                    </td>
                </tr>
                <tr>
                    <td><label>Title :</label></td>
                    <td><input type="text" th:field="*{title}">
                        <div class="field-validation-error" th:errors="*{title}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Category :</label></td>
                    <td>
                        <input readonly type="text" th:field="*{categoryName}">
                        <div class="field-validation-error" th:errors="*{categoryName}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Author :</label></td>
                    <td><select th:field="*{authorId}">
                        <option th:each="data : ${dropdownAuthor}" th:value="${data.val}" th:text="${data.text}"/>
                    </select>
                        <div class="field-validation-error" th:errors="*{authorId}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Release Date :</label></td>
                    <td><input type="date" th:field="*{releaseDate}">
                        <div class="field-validation-error" th:errors="*{releaseDate}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>Total Page :</label></td>
                    <td><input type="number" th:field="*{totalPage}">
                        <div class="field-validation-error" th:errors="*{totalPage}"></div>
                    </td>
                </tr>
                <tr>
                    <td><input type="hidden" th:field="*{isBorrowed}">
                        <div class="field-validation-error" th:errors="*{isBorrowed}"></div>
                    </td>
                </tr>

                <tr>
                    <td><label>Quantity :</label></td>
                    <td><input type="number" th:field="*{quantity}">
                        <div class="field-validation-error" th:errors="*{quantity}"></div>
                        <div class="field-validation-error" th:errors="${dto}"></div>
                    </td>
                </tr>

                <tr>
                    <td><label>Summary :</label></td>
                    <td><textarea th:field="*{summary}"></textarea>
                        <div class="field-validation-error" th:errors="*{summary}"></div>
                    </td>
                </tr>

                </tbody>
            </table>
            <button class="btn update-button" type="submit"> submit</button>
            <a class="btn warning-button" th:href="@{/category/index}">Close</a>
        </form>
    </div>
</main>

</body>
</html>