<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}" >
</head>
<body >
  <main>
<div class="formReg">

    <form method="post" th:attr="action=@{/register/registerForm}" enctype="multipart/form-data" th:object="${dto}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div class="divLogin">
      <div>
      <h1>Sign Up</h1>
      </div>

      <div style="text-align : left">
        <label>Username </label>
        <input type="text" th:field="*{username}" placeholder="Username">
        <div class="field-validation-error" th:errors="*{username}"> </div>
      </div>
      <div style="text-align : left">
        <label>Password </label>
        <input type="password" th:field="*{password}" placeholder="Password">
        <div class="field-validation-error" th:errors="*{password}"> </div>
        <div class="field-validation-error" th:errors="${dto}"> </div>
      </div>
      <div style="text-align : left">
        <label>Confirm Password </label>
        <input type="password" th:field="*{conpassword}" placeholder="Re-password">
        <div class="field-validation-error" th:errors="*{conpassword}"> </div>
      </div>
        <div>
          <button class="btn search-button" type="submit"> Sign Up</button>
        </div>
      </div>

    </form>
    <div style="text-align:center;margin-bottom : 20px">
    <p>Click here to <a  th:href="@{/login/loginForm}">login</a></p>
    </div>

</div>
  </main>

</body>
</html>