<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::headLayout}"><!-- layout itu dari layout.html,
                            headLayout dari nama fragment yang ada di layout.html  -->
<body class="main-body">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header('FAILED')}"></header>
<main>
  <div>
    <h1>Unable To Delete</h1>
  </div>
  <div>
    <a class="btn back-warning" th:href="@{/category/index}">Back to Books Index</a>
  </div>
</main>

</body>
</html>