<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::headLayout}"><!-- layout itu dari layout.html,
                            headLayout dari nama fragment yang ada di layout.html  -->
<body class="main-body">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header('Insert new Category')}"></header>
<main>
    <div>
        <form method="post" class="upsert-form" th:attr="action=@{/category/insert}" enctype="multipart/form-data"
              th:object="${dto}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <!--        <div th:if="${param.error != null}" th:text="${param.error}"></div>-->
            <table>
                <tbody>
                <tr>
                    <td><label>Category Name </label></td>
                    <td><input type="text" th:field="*{name}">
                        <div class="field-validation-error" th:errors="*{name}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>floor </label></td>
                    <td><input type="text" th:field="*{floor}">
                        <div class="field-validation-error" th:errors="*{floor}"></div>
                        <div class="field-validation-error" th:errors="${dto}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>isle </label></td>
                    <td><input type="text" th:field="*{isle}">
                        <div class="field-validation-error" th:errors="*{isle}"></div>
                        <div class="field-validation-error" th:errors="${dto}"></div>
                    </td>
                </tr>
                <tr>
                    <td><label>bay </label></td>
                    <td><input type="text" th:field="*{bay}">
                        <div class="field-validation-error" th:errors="*{bay}"></div>
                        <div class="field-validation-error" th:errors="${dto}"></div>
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn blue-button" type="submit"> submit</button>
            <a class="btn warning-button" th:href="@{/category/index}">Close</a>
        </form>
    </div>
</main>

</body>
</html>