<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::headLayout}"><!-- layout itu dari layout.html,
                            headLayout dari nama fragment yang ada di layout.html  -->
<body class="main-body">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header('DELETE')}"></header>
<main>
  <div>
    <h1>This Books Under Loan</h1>
    <h3>You can't Change the Books under loan!</h3>
  </div>
  <div>
    <a class="btn warning-button" th:href="@{/category/valid(categoryName=${categoryName})}">Back to Category Index</a>
  </div>
</main>

</body>
</html>