<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::headLayout}">
</head>
<body class="main-body" th:object="${memberDto}">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header(*{fullName})}"></header>
<main>
    <div class="grid-container">
        <div class="filter">
            <label>Name : </label>
            <h1 th:text="*{fullName}"></h1>
            <label>Birth Date : </label>
            <h1 th:text="*{birthDate}"></h1>
            <label>Gender : </label>
            <h1 th:text="*{gender}"></h1>
            <label>Phone : </label>
            <h1 th:text="*{phone}"></h1>
            <label>Address : </label>
            <h1 th:text="*{address}"></h1>
            <label>Balance : </label>
            <h1 th:text="*{balance}"></h1>
        </div>
        <div class="filter">
            <a class="btn warning-button" th:href="@{/customer/index}"> Back to Customer Index </a>
            <a class="btn update-button" th:href="@{/customer/user/update-profile}"> Update profile</a>
        </div>

    </div>
</main>

</body>
</html>