<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::headLayout}"><!-- layout itu dari layout.html,
                            headLayout dari nama fragment yang ada di layout.html  -->
<body class="main-body">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header('CUSTOMER')}"></header>
<main>
    <div class="grid-container">
        <form method="get" class="filter" th:attr="action=@{/customer/index}">
            <input type="text" name="number" placeholder="Membership Number" th:attr="value=${number}">
            <input type="text" name="name" placeholder="name" th:attr="value=${name}">
            <button class="btn blue-button" type="submit">Search</button>
        </form>
        <div class="filter">
            <a class="btn create-button" th:href="@{/customer/insert}"> Add new Customer </a>
            <a class="btn create-button" th:href="@{/customer/banned-customer}"> Banned Member </a>
        </div>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Membership Number</th>
                    <th>Full Name</th>
                    <th>Membership Expire Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${listCustomer}" th:object="${data}">
                    <td class="action">
                        <div class="button-wrapper">
                            <a class="btn update-button"
                               th:href="@{/customer/update(number=*{membershipNumber})}">Edit</a>
<!--                            <a class="btn warning-button"-->
<!--                               th:href="@{/customer/delete(number=*{membershipNumber})}">Delete</a>-->
                            <a class="btn warning-button"
                               th:href="@{/customer/valid(customerNumber=*{membershipNumber})}">ban</a>
                            <a class="btn blue-button"
                               th:href="@{/customer/extend(number=*{membershipNumber})}">Extend</a>
                        </div>
                    </td>
                    <td><a th:text="*{membershipNumber}"
                           th:href="@{/customer/detail(number=*{membershipNumber})}"></a></td>
                    <td th:text="*{fullname}"></td>
                    <td th:text="*{membershipExpireDate}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination">
                            <div th:attr="data-currentPage=${currentPage}"
                                 th:text="|page ${currentPage} of ${totalPage}|">
                            </div>
                            <div>
                                <a th:if="${totalPage !=0}"
                                   th:each="loop:${#numbers.sequence(1, totalPage)}"
                                   th:href="@{/customer/index(page=${loop},number=${number},name=${name})}"
                                   th:text="${loop}"></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>

    </div>
</main>

</body>
</html>