<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
</head>
<body>
<nav th:replace="~{layout::navigation}"></nav>
<main>
    <form method="get" th:attr="action=@{/customer/index}">
        <fieldset>
            <legend>Search by:</legend>
            <div>
                <span>MemberShip    :</span>
                <input type="text" name="number" placeholder="Membership Number" th:attr="value=${number}">
            </div>
            <div>
                <span>Customer Name :</span>
                <input type="text" name="name" placeholder="name" th:attr="value=${name}">
            </div>
            <div class="divSearch">
                <button class="btn search-button" type="submit">Search</button>
            </div>
        </fieldset>


    </form>

    <div class="filter">
        <a class="btn add-button" th:href="@{/customer/insert}"> Add new Customer </a>
        <a class="btn add-button" th:href="@{/customer/banned-customer}"> Banned Member </a>
    </div>
    <div class="divTable">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Membership Number</th>
                <th>Full Name</th>
                <th>Membership Expire Date</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="data : ${listCustomer}" th:object="${data}">
                <td class="action">
                    <div class="button-wrapper">
                        <a class="btn back-warning" th:href="@{/customer/update(number=*{membershipNumber})}">Edit</a>
                        <a class="btn delete-btn" th:href="@{/customer/delete(number=*{membershipNumber})}">Delete</a>
                        <a class="btn delete-btn" th:href="@{/customer/valid(customerNumber=*{membershipNumber})}">ban</a>
                        <a class="btn detail-btn" th:href="@{/customer/extend(number=*{membershipNumber})}">Extend</a>
                    </div>
                </td>
                <td><a class="customerLink" th:text="*{membershipNumber}"
                       th:href="@{/customer/detail(number=*{membershipNumber})}"></a></td>
                <td th:text="*{fullname}"></td>
                <td th:text="*{membershipExpireDate}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
                    <div class="pagination">
                        <div>
                            <a th:if="${totalPage !=0}"
                               th:each="loop:${#numbers.sequence(1, totalPage)}"
                               th:href="@{/customer/index(page=${loop},number=${number},name=${name})}"
                               th:text="${loop}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>


</main>

</body>
</html>