<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}" >
</head>
<body>
<nav th:replace="~{layout::navigation}"></nav>
<main>
  <div>
    <h1 th:text="${validationHeader}">Unable To Return</h1>
    <h3 th:text="${validationReason}">Data Already Returned!</h3>
  </div>
  <div>
    <a class="btn back-warning" th:href="@{/customer/index}">Back to Index</a>
    <a class="btn back-warning" th:style="${flag == 0 ? 'display : inline-block' : 'display : none'}" th:href="@{/customer/ban(customerNumber=${membershipNumber})}">Ban</a>
  </div>
</main>

</body>
</html>