<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
</head>
<body class="authentication-body">
<main>
    <div class="formLogin">
        <form method="post" th:attr="action=@{/loginProcess}">
            <div class="divLogin">

                <div>
                    <h1>Sign in</h1>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div th:if="${param.error != null}" th:text="${param.error}" class="field-validation-error"></div>

                <div style="text-align : left">
                    <label> Username </label>
                    <input type="text" name="username" placeholder="Username" autocomplete="off" required>
                </div>
                <div style="text-align : left">
                    <label> Password</label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <button class="btn search-button" type="submit">Sign in</button>
                </div>
            </div>
        </form>
        <div style="text-align:center;margin-bottom : 20px">
            <p>Click Here to <span><a th:href="@{/register/registerForm}">Register!</a></span></p>
        </div>


    </div>
</main>

</body>
</html>