<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::headLayout}">
<body class="main-body">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header('Loan')}"></header>
<main>
    <div class="grid-container">
        <div>
            <table>
                <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Book Title</th>
                    <th>Loan Date</th>
                    <th>Return Date</th>
                    <th>Nominal Denda</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data : ${dataDenda}" th:object="${data}">
                    <td th:text="*{customerName}"></td>
                    <td th:text="*{bookTitle}"></td>
                    <td th:text="*{loanDate}"></td>
                    <td th:text="*{returnDate}"></td>
                    <td th:text="*{denda}"></td>
                    <td>
                        <a class="btn delete-btn" th:href="@{/loan/payment(id=*{id})}">pay</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="pagination">
                            <div th:attr="data-currentPage=${currentPage}"
                                 th:text="|page ${currentPage} of ${totalPage}|">
                            </div>
                            <div>
                                <a th:if="${totalPage !=0}"
                                   th:each="loop:${#numbers.sequence(1, totalPage)}"
                                   th:href="@{/loan/denda(page=${loop})}"
                                   th:text="${loop}"></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>

</main>

</body>
</html>