<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::headLayout}">
</head>
<body class="main-body">
<nav th:replace="~{layout::navLayout}"></nav>
<header th:replace="~{layout::header(${categoryName})}"></header>
<main>
    <div class="grid-container">

        <fieldset class="formSpacer">
            <legend>Books</legend>
            <div th:object="${books}">
                <div>
                    <p>
                        Title : <span th:text="*{title}"></span>
                    </p>
                </div>
                <div>
                    <p>
                        Category name : <span th:text="*{categoryName}"></span>
                    </p>
                </div>
                <div>
                    <p>
                        Author : <span th:text="*{authorName}"></span>
                    </p>
                </div>
            </div>

            <div th:object="${category}">
                <div>
                    <p>
                        Floor : <span th:text="*{floor}"></span>
                    </p>
                </div>
                <div>
                    <p>
                        Isle : <span th:text="*{isle}"></span>
                    </p>
                </div>
                <div>
                    <p>
                        Bay : <span th:text="*{bay}"></span>
                    </p>
                </div>
            </div>

        </fieldset>
        <fieldset class="formSpacer">
            <legend> Customer</legend>
            <div th:object="${customer}">
                <div>
                    <p>
                        Membership Number : <span th:text="*{membershipNumber}"></span>
                    </p>
                </div>
                <div>
                    <p>
                        Full name : <span th:text="*{getFullName}"></span>
                    </p>
                </div>
                <div>
                    <p>
                        Phone : <span th:text="*{phone}"></span>
                    </p>
                </div>
                <div>
                    <p>
                        Membership Expire Date : <span th:text="*{membershipExpireDate}"></span>
                    </p>
                </div>

            </div>
        </fieldset>

        <fieldset class="formSpacer">
            <legend> Denda</legend>
            <div>
                <div>
                    <p>
                        Denda : <span th:text="${historyDenda}"></span>
                    </p>
                </div>

            </div>
        </fieldset>
    </div>
</main>

</body>
</html>
